.movielink::marker {
  color: #206b7e;
  font-size: 1.5em;
}

.movielink {
  font-size: 25px;
}
.link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: black;
}

.link:visited {
  color: #206b7e;
}

.link:hover {
  color: #693535e1;
}
